@using MudBlazor.Extensions.Core

<MudTooltip RootStyle="height: 15px; width: 20px;" Text="@Tooltip">
    <button onclick="@OnClick"><MudIcon Color="@Color" Icon="@Icon"></MudIcon></button>    
</MudTooltip>

@code {

    [Parameter]
    public string Icon { get; set; }

    [Parameter]
    public Color Color { get; set; } = Color.Inherit;

    [Parameter]
    public string Tooltip { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
